body{
	background: linear-gradient(#424344, #686b70, #424344);
}
h1,h3,.motto>h2{
	color: rgb(55, 150, 255);
	font-family: 'Alfa Slab One';
/*color: #a8abaf;*/
}
.dropdown, button{
	background-image: url(iron.jpg);
}
.motto{
	float: right;
	padding: 2% 30% 0 0;
}
h3{
	text-align: center;
}
h2{
	color: #c4c4c4;
}
li{
	background-image: url(iron.jpg);
}
h4{
	font-family: 'Alfa Slab One';
	color: rgb(55, 150, 255);
	text-align: left;
}
fieldset{
	margin-top: 2%;
	padding: 0 25% 0 25%;
}
fieldset>h3,fieldset>legend{
	color: rgb(55, 150, 255);
	font-family: none;
	background: linear-gradient(to right,#424344, black, #424344);
}
legend{
	width: 30.5%
}
.container{
	margin-top: 2%;
	background: linear-gradient(#424344, #686b70, #424344)
}
.fitness{
	margin: 3% 0 0 0;
	display: flex;
	justify-content: space-around;
}
.view{
	color: rgb(55, 150, 255);
}
.macroguide{
	margin-top: 5%;
	display: flex;
	justify-content: space-around;
}
.carousel{
	margin-top: 5%;
	display: flex;
	justify-content: space-around;
}
.store{
	display: flex;
	margin-top: 5%;
	justify-content: space-around;
	text-align: center;
	background: linear-gradient(to right,#424344, #686b70, #424344);
}
.pants,.shirts{
	display: flex;
	margin-top: 5%;
	justify-content: space-around;
	text-align: center;
}
.news>fieldset>p{
	background: linear-gradient(black ,#424344, black);
	color: rgb(55, 150, 255);
}
