body{
	background-color: #686b70;
}
h1,h3,.motto>h2{
	color: rgb(55, 150, 255);
	font-family: 'Alfa Slab One';
/*color: #a8abaf;*/
}
.dropdown, button{
	background-image: url(iron.jpg);

}
.motto{
	float: right;
	padding: 2% 30% 0 0;
}
h3{
	text-align: center;
}
h2{
	color: #c4c4c4;
}
li{
	background-image: url(iron.jpg);
}
h4{
	font-family: 'Alfa Slab One';
	color: rgb(55, 150, 255);
	text-align: left;
}
fieldset{
	margin-top: 2%;
	padding: 0 25% 0 25%;
}
fieldset>h3,fieldset>legend{
	color: rgb(55, 150, 255);
	font-family: none;
	background: linear-gradient(to right,#424344, black, #424344);
}
legend{
	width: 30.5%
}
.container{
	margin-top: 2%;
	background: linear-gradient(#424344, #686b70, #424344)
}

						/*  newsletter styles */
input[type=text], input[type=submit] {
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: black;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

bottom-left{
	color: white;
}
